* {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	padding: 0;
	font-family: "Source Sans Pro", sans-serif;
}

p, h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}

.btn__burger {
	width: 50px;
	height: 50px;
	display: none;
	background: #FFCA00;
	border-radius: 50%;
}

.btn__burger span {
	width: 30px;
	height: 3px;
	background: #fff;
	display: block;
	position: relative;
}

.btn__burger span:before {
	position: absolute;
	top: -10px;
	left: 0;
	content: "";
	display: block;
	width: 30px;
	height: 3px;
	background: #fff;
}

.btn__burger span:after {
	position: absolute;
	top: 10px;
	left: 0;
	content: "";
	display: block;
	width: 30px;
	height: 3px;
	background: #fff;
}

.header {
	background: url(image/bg-martaup.jpg), no-repeat;
	background-size: cover;
	min-height: 800px;
	width: 100%;
}

.container {
	max-width: 1260px;
	margin: 0 auto;
}

.header_nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
	align-items: center;
	padding-left: 30px;
	padding-right: 30px;
}

.menu {
	
	font-size: 20px;
}

.menu ul{
	display: flex;
}

.menu li{
	list-style: none;
}

.menu a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: bold;
	opacity: 0.7;
	transition: .3s;
}

.menu a:hover {
	opacity: 1;
	text-decoration: underline;
}

.login-signin {
	width: 320px;
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
}



.login-signin a {
	text-decoration: none;
}

.login__btn a{
	color: #fff;
	font-size: 20px;
}

.sign__btn a{
	color: #250F8A;
	background: #fff;
	border-radius: 20px;
	padding: 10px 20px;
	font-weight: bold;
	font-size: 20px;
}

.header-slider {
	margin-top: 150px;
	display: flex;
}

.header-slider__item {
	display: flex;
	justify-content: space-between;
}

.slider__content {
	width: 500px;
	margin-left: 30px;
	margin-bottom: 40px;
}

.content__title {
	color: #fff;
	text-transform: uppercase;
	font-size: 35px;
	margin-bottom: 50px;
	font-weight: 600;

}

.content__text {
	color: #fff;
	font-size: 24px;
	margin-bottom: 70px;
	font-weight: 400;
}

.content__button {
	padding: 10px 25px;
	background: #FFCA00;
	border-radius: 20px;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 18px;
}

.slider__img {
	margin-left: 150px;
}

.slick-initialized .slick-slide {
	display: flex !important;
}
.header-dots {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-left: 10px;
}
.header-dots li{
	list-style: none;

}
.header-dots button {
	margin-bottom: 10px;
	border: none;
	background: #fff;
	border-radius: 5px;
	width: 10px;
	height: 10px;
	opacity: .7;
	font-size: 0px;
}
.header-dots .slick-active button {
	width: 20px;
	opacity: 1;

}

.features {
	min-height: 550px;
	position: relative;
}
.feature__decore {
	position: absolute;
	top: 30px;
	left: 0;
}
.feature-conteiner {
	max-width : 950px;
	margin: 0 auto;
}
.features__title {
	text-align: center;
	margin-top: 50px;
	font-size: 35px;
}
.services {
	display: flex;
	justify-content: space-between;
	max-width: 950px;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 150px;
}
.services__item {
	min-width: 280px;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.services__text {
	margin-top: 15px;
	line-height: 30px;
	width: 250px;
}
.how-we-work {
	min-height: 600px;
	background: #F4F9FD;
	position: relative;
}
.how-we-work__decore {
	position: absolute;
	top: 55%;
	right: 0;
}
.how-we-work__item {
	padding-bottom: 40px;
	display: flex;
	justify-content: space-between;
	padding-left: 60px;
	margin-right: 30px;
	align-items: center;
	padding-top: 100px;
}
.item__content {
	max-width: 450px;
	position: relative;
	margin-left: 20px;
}
.content-decore {
	position: absolute;
	top: -60px;
	left: 0;
}
.item__content-title {
	font-size: 35px;
	max-width: 400px;
}
.item__content-text {
	max-width: 400px;
	margin-top: 30px;
	line-height: 30px;
}
.coments {
	min-height: 500px;
	background: url("image/coments-bg.jpg") no-repeat;
	background-size: cover;
}
.coments__title {
	color: #fff;
	font-size: 35px;
	text-align: center;
	font-weight: 600;
	padding-top: 50px;
}
.coments__box {
	display: flex;
	justify-content: space-between;
	max-width: 1000px;
	margin: 0 auto;
}
.coments__item {
	width: 300px;
	height: 260px;
	background: rgba(255,255,255,0.5);
	padding-left: 20px 10px;
	margin-top: 70px;
	border-radius: 20px;
}
.item__people-info {
	display: flex;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 10px;
}
.people__img {
	margin-right: 20px;
}
.people__name {
	font-size: 15px;
	color: #fff;
	font-weight: bold;
}
.people__prof {
	color: #fff;
	opacity: .5;
}
.quotes {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
.people-say {
	text-align: center;
	margin: 0 10px;
	color: #fff;
}
.footer {
	height: 60px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.footer__info {
	width: 275px;
	display: flex;
	justify-content: space-between;
}
.footer__info-item {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}



@media(max-width: 1150px) {
	.feature__decore {
		width: 100px;
		height: 100px;
		top: 47%;
	}
}

@media (max-width: 1100px) {
	.login {
		margin-left: auto;
		margin-right: 20px;
	}
	.login-signin {
		width: 250px;
	}
	.work__img {
		width: 400px;
		height: 350px;
	}
	.how-we-work__decore {
		display: none;
	}
}

@media (max-width: 1020px) {
	.header_nav {
		flex-wrap: wrap;
	}
	.login-signin {
		margin-left: auto;
	}
	.menu {
		float: right;
	}
}

@media(max-width: 990px) {
	.slider__img {
		margin-left: 0;
	}
	.services {
		flex-wrap: wrap;
	}
	.services__item {
		width: 100%;
		margin-top: 30px;
	}
	.services__text {
		width: 400px;
		text-align: center;
	}
	.header_nav {
	padding-top: 10px;
	}
}

@media (max-width: 915px) {
	.coments__item {
		width: 47%;
	}
	.coments__item:nth-child(1) {
		margin-right: 10px;
	}
	.coments__box {
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	.coments__item:nth-child(3) {
		margin-bottom: 70px;
	}
}

@media (max-width: 850px) {
	.slider__img {
		display: none;
	}
	.slider__content {
		margin: 0 auto;
		padding-bottom: 20px;
		text-align: center;
	}
	.content__text {
		margin-bottom: 30px;
	}
	.item__content {
		margin: 0 auto;
	}
	.how-we-work__item {
		flex-wrap: wrap;
		text-align: center;
	}
	.how-we-work__item:nth-child(3) {
	flex-wrap: wrap-reverse;
	}
	.item__content-text {
		max-width: 500px;
	}
	.work__img {
		margin: 0 auto;
		width: 550px;
	}
}

@media (max-width: 735px) {
	.login-signin {
		margin-top: 20px;
	}
	.menu {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background: #FFCA00;
		z-index: 10000;
		clip-path: circle(100px at 95% -20%);
		-webkit-clip-path: circle(100px at 95% -20%);
		transition: all 1s ease-out;
	}
	.menu__active {
		clip-path: circle(1400px at 95% -20%);
		-webkit-clip-path: circle(1400px at 95% -20%);
	}
	.menu ul {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		padding-left: 0;
	}
	.menu li+li {
		margin-top: 80px;
	}
	.btn__burger {
		width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 10001;
		margin-left: 250px;
	}
	.btn__burger span {
	}
	.header-slider {
		margin-top: 178px;
	}
}

@media(max-width: 620px) {
	.work__img {
		width: 300px;
		height: 250px;
	}
}

@media(max-width: 530px) {
	.btn__burger {
		margin-left: 100px;
	}
}

@media(max-width: 520px) {
	.coments__item {
		width: 100%;
	}
	.item__people-info {
		justify-content: center;
	}
	.footer {
		flex-wrap: wrap;
	}
	.footer__info {
		width: 100%;
	}
}

@media(max-width: 465px) {
	.content__title {
		font-size: 25px;
		margin-bottom: 20px;
	}
	.services__text {
		width: 300px;
	}
	.item__content-title {
		font-size: 25px;
	}
	.coments__title {
		font-size: 25px;
	}
}

@media(max-width: 390px) {
	.btn__burger {
		margin-left: 10px;
	}
}

@media(max-width: 375px) {
	.login-signin {
		width: 250px;
	}
	.login {
		margin-left: 20px;
	}
	.sign-in {
		margin-right: auto;
		margin-left: 10px;
	}
	.content__text {
		font-size: 20px;
	}
	.features__title {
		font-size: 25px;
	}
	.services {
		margin-top: 30px;
	}
	.feature__decore {
		display: none;
	}
	.item__content-title {
		margin-left: -46px;
		font-size: 25px;
	}
	.item__content-text {
		margin-left: -46px;
	}
	.work__img {
		margin-left: -30px;
	}
}

@media(max-width: 350px) {
	.work__img {
		margin-left: -46px;
	}
}